<?php
return array(
	'mail' => array(
		'transport' => array(
			'options' => array(
				'host'              => 'smtp.gmail.com',
				'connection_class'  => 'login',
				'port' => '465',
				'connection_config' => array(
					'username' => 'username@gmail.com',
					'password' => 'password',
					'ssl' => 'ssl'
				),
			),  
		),
	),
);