/*
 *CsnUser Styles
 */
.form .form-control { margin-bottom: 10px; }

table.users-list td,
table.users-list th {
   text-align: center;   
}
    
table.users-list a.name {
  color: #3389D1;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 0;
}   
    
table.users-list span.subtext {
  color: #778391;
  font-size: 12px;
  font-style: italic;
  margin-left: 0;
  margin-top: 0;
}